In [1]:
import torch
import pandas as pd

## 1. Read and explore the train and test datasets

### 1.1 Read in the datasets

In [2]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")

In [3]:
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

### 1.2 Check for the number of examples each classes have

In [5]:
train_df.target.value_counts()

target
0    4342
1    3271
Name: count, dtype: int64

### 1.3 Check for total number of samples

In [6]:
print(f"Total training samples: {len(train_df)}")
print(f"Total test samples: {len(test_df)}")
print(f"Total samples: {len(train_df) + len(test_df)}")

Total training samples: 7613
Total test samples: 3263
Total samples: 10876

### 1.4 Shuffle the training dataset

In [7]:
train_df_shuffled = train_df.sample(frac=1)

## 2. Tokenize Words

Steps to train a neural network on our dataset:
1. Tokenize text
2. Convert tokens into (integer) IDs
3. Add any special tokens IDs
* Words can be tokenized using the sentence piece tokenizer available here:
https://pytorch.org/text/stable/data_functional.html#generate-sp-model

* Pretrained Embedding are available here: https://pytorch.org/text/stable/vocab.html#pretrained-word-embeddings

### 2.1  Tutorial for text classification by pytorch: 
https://pytorch.org/text/stable/tutorials/sst2_classification_non_distributed.html#sphx-glr-tutorials-sst2-classification-non-distributed-py

### 2.2 Pretrained models from `torchtext.models`:
https://pytorch.org/text/stable/models.html

### 2.3 RNN layers in `torch.nn`:
https://pytorch.org/docs/stable/nn.html#recurrent-layers